{{- define "main" }}

<article class="post-single">
    <header class="post-header">
        <h1 class="post-title">{{ .Title }}</h1>
    </header>
    
    <div class="post-content">
        <div class="content-body">
            {{ .Content }}
            
            <div class="contact-form-container">
                <form action="https://formspree.io/f/mvgrndyl" method="POST" class="contact-form">
                    <div class="form-group">
                        <label for="name">Full Name</label>
                        <input type="text" name="name" id="name" placeholder="First and Last" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" name="email" id="email" placeholder="your@email.here" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="6" required></textarea>
                    </div>
                    
                    <button type="submit" class="submit-button">SEND MESSAGE</button>
                </form>
                <div class="form-footer">
                    Powered by <a href="https://formspree.io" target="_blank">Formspree</a>
                </div>
            </div>
        </div>
    </div>
</article>

{{- end }}
